/* 카드 컨테이너 */
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25vh;
}

/* 비율 유지를 위한 홀더 */
.ratioHolder {
  width: 150vh;
  height: 110vh;
  position: absolute;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 한 행에 4개의 카드 */
  gap: 2vh; /* 카드 간격 비율 */
  width: 150vh;
}

/* 카드 스타일 */
.card {
  border: 1px solid #ddd;
  border-radius: 0.5vw;
  padding: 2vw;
  background-color: #fff;
  box-shadow: 0 0.5vh 1vw rgba(0, 0, 0, 0.1);
  height: auto; /* 내용에 맞게 높이 자동 조정 */
  min-height: 30vh; /* 최소 높이 설정 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

/* 카드 헤더 */
.card-header {
  font-weight: bold;
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 1.5vh;
}

/* 카드 요약 */
.card-summary {
  font-size: 1rem;
  color: #666;
  margin-top: 1.5vh;
  margin-bottom: 2vh;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 텍스트 줄 제한 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-original-text {
  font-size: 0.8rem;
  color: #666;
  margin-top: 3vh;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 텍스트 줄 제한 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 카드 푸터 */
.card-footer {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #888;
}

/* 카드 뷰 */
.card-views {
  margin-left: 1vw;
}

/* 카드 버튼 */
.card-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.8vh 1.5vw;
  border-radius: 0.3vw;
  cursor: pointer;
}

.card-button:hover {
  background-color: #555;
}