header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
}

.title {
    position: relative;
    right: 10vh;
    top: -5vh;
    width: 5vh;
    height: 2.5vh;
}

.title > h1 {
    font-size: 12vh;
    font-weight: 500;
    line-height: 12.5vh;
}

.search-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    position: relative;
    top: 8.5vh;
    left: 18.5vh;
}

.search-container > .search-title {
    text-align: center;
    font-size: 3vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    padding: 0 0 1vh 1vh;
}

.search-container > .search-field {
    display: flex;
    flex-direction: row;
}

.search-container > .search-field > .search-bar > input {
    width: 49vh;
    height: 6.5vh;
    flex-shrink: 0;
    border-radius: 25px 0px 0px 25px;
    border: none;
    background: #F0F0EF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 2vh;

    font-size: 16px;
}

.search-container > .search-field > .search-bar > input:focus {
    outline: none;
}

.search-container > .search-field > .search-btn {
    width: 12vh;
    height: 6.75vh;
    flex-shrink: 0;
    border-radius: 0px 25px 25px 0px;
    border: none;
    background: #4A4A48;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-container > .search-btn:hover {
    background: #6A6A68;
}

.info > p {
    transform: rotate(90deg);
    position: relative;
    top: 10vh;
    left: 6.5vh;
    width: 30vh;
    line-height: 2.5vh;
}