/* 독립체 */
@font-face {
    font-family: 'Dokrip';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Dokrip.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 신라 문화체 */
@font-face {
    font-family: 'Shilla_CultureB-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 전체 헤더 스타일 */
header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
}

/* 제목 스타일 */
.title {
    position: relative;
    right: 12vh;
    top: -4vh;
    width: 5vh;
    height: 2.5vh;

    transition: 0.5s ease-in-out;
}

.title > h1 {
    font-family: 'Shilla_CultureB-Bold';
    font-size: 12vh;
    font-weight: 'bold';
    line-height: 12.5vh;
}

/* 검색 컨테이너 */
.search-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    position: relative;
    top: 8.5vh;
    left: 18.5vh;
}

/* 검색 제목 */
.search-title {
    text-align: center;
    font-size: 3vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    padding: 0 0 1vh 1vh;

    font-family: 'Shilla_CultureB-Bold';

}

.search-container > .search-field {
    display: flex;
    flex-direction: row;
}

/* 검색 하지 않을 경우 */
.search-container > .search-field > .search-bar {
    width: 49vh;
    height: 6.5vh;
    flex-shrink: 0;
    display: flex;
    background: white;
    border-radius: 25px 0px 0px 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-container > .search-field > .search-bar > input {
    width: 49vh;
    border: none;
    padding-left: 2vh;
    border-radius: 25px 0px 0px 25px;
    font-size: 16px;
}

.search-container > .search-field > .search-bar > input:focus {
    outline: none;
}

/* 검색할 경우 */
.search-container > .search-field > .search-bar-active {
    width: 49vh;
    height: 6.5vh;
    flex-shrink: 0;
    display: flex;
    background: white;
    border-radius: 25px 0px 0px 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-container > .search-field > .search-bar-active > input {
    width: 45vh;
    border: none;
    padding-left: 2vh;
    border-radius: 25px 0px 0px 25px;
    font-size: 16px;
}

.search-container > .search-field > .search-bar-active > input:focus {
    outline: none;
}

.search-close-btn {
    width: 5vh;
    height: 6.5vh;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-container > .search-field > .search-btn {
    width: 12vh;
    height: 6.75vh;
    flex-shrink: 0;
    border-radius: 0px 25px 25px 0px;
    border: none;
    background: #4A4A48;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: 0.5s ease-in-out;
}

.search-container > .search-field > .search-btn> img {
    width: 5vh;
    height: 5vh;
}

.search-container > .search-btn:hover {
    background: #6A6A68;
}

/* 서비스 소개 글 */
.info > p {
    font-family: 'Shilla_CultureB-Bold';
    position: absolute;
    top: 2vh;
    right: 2.5vh;
    width: 30vh;
    height: 62.5vh;
    line-height: 2.5vh;

    writing-mode: vertical-rl; /* 세로 쓰기 설정 */
    transition: 0.5s ease-in-out;
}

.add-extension {
    width: 35vh;
    height: 2.5vh;
    position: relative;
    top: 8.5vh;
    right: 59vh;

    transition: 0.5s ease-in-out;
}

.add-extension > a {
    text-decoration: none;
}