.nav-container {
    display: flex;
    overflow-x: auto; /* 수평 스크롤 */
    gap: 1.5rem;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 19vh;
    margin-bottom: 10%; /* 카테고리와 카드 간 간격을 두기 위해 margin 추가 */
}

.nav-item {
    min-width: 11.5vh;
    width: 9.5vh;
    height: 4.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #000;
    transition: 0.5s ease-in-out;
    background-color: #fff;
    box-shadow: 0px 4px 2.5px rgba(0, 0, 0, 0.25);
    font-size: 2vh;
}

.nav-item:hover {
    transform: scale(1.25);
    cursor: pointer;
}

.nav-container::-webkit-scrollbar {
    display: none;
}