.summary-container {
    background-color: white;
    width: 150vh;
    height: 65vh;
    position: relative;
    top: 23.5vh;
    /*left: 32.5vh;*/
    border-radius: 15px;
    border: 1px solid #000;
}
/* 비율 유지를 위한 홀더 */
.ratioHolder {
    width: 150vh;
    height: 110vh;
    position: relative;
    left: 10vh /* 좌측으로 쏠리는 문제 해결 */
}