@font-face {
    font-family: 'Dokrip';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Dokrip.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    font-family: 'Dokrip';
    margin: 0;
    padding: 0;
    background-image: url('/public/images/background.webp'); 
    background-size: 100% auto; /* 가로는 100%, 세로는 자동 크기 조절 */
    background-position: center; 
  }
  